mixin switcher(name, id, text)
    div.section_text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        div.switcher_container
            label(for=id).mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                input(id=id, type='checkbox').mdl-switch__input
                span(id=id+'_label').mdl-switch__label=text

mixin range(name, id, min, max, val, step, metric)
    div.section__text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        div.range_container
            input(id=id, type="range" min=min max=max value=val step=step data-metric=metric).mdl-slider.mdl-js-slider

mixin ust(name, id, pic, sw_id,  sw_text)
    div.pribor
        h2(id=id)=name
        div.big_pic
            h5 Схема
            img(src=pic alt="Схема")
            div.mdl-card__actions.mdl-card--border
                div.switcher_container
                    label(for=sw_id).mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                        input(id=sw_id, type='checkbox').mdl-switch__input
                        span(id=sw_id + '_label').mdl-switch__label=sw_text

mixin label(name, id, val, metric)
    div.section__text.mdl-cell.mdl-cel  l--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        p
            span(id=id)=val
            span=metric

mixin canvas(name, id)
    div.section__text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        canvas(id=id)

//Рабочая установка
+ust('Дифракция Фраунгофера', 'exp2', './images/pic3.png', 'ustn_2', 'Включить установку')
//Управление установкой и снятие показаний
div.mdl-cell.mdl-cell--6-col
    h5 Управление установкой и показания приборов
    +range('Ширина щели \\(S_2\\)', 'odn_s2', '0.01', '3', '0.01', '0.01', 'мм')
    +range('Расстояние между линзой \\(O_3\\) и микроскопом M', 'odn_03_m', '5', '100', '10', '1', 'мм')
    +label('Фокус', 'odn_focus_label', '89', '%')
    +canvas('Окуляр микроскопа (шкала в мкм)','odn_inten_cvs')


