mixin switcher(name, id, text)
    div.section_text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        div.switcher_container
            label(for=id).mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                input(id=id, type='checkbox').mdl-switch__input
                span(id=id+'_label').mdl-switch__label=text

mixin range(name, id, min, max, val, step, metric)
    div.section__text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        div.range_container
            input(id=id, type="range" min=min max=max value=val step=step data-metric=metric).mdl-slider.mdl-js-slider

mixin ust(name, id, pic, sw_id,  sw_text)
    div.pribor
        h2(id=id)=name
        div.big_pic
            h5 Схема
            img(src=pic alt="Схема")
            div.mdl-card__actions.mdl-card--border
                div.switcher_container
                    label(for=sw_id).mdl-switch.mdl-js-switch.mdl-js-ripple-effect
                        input(id=sw_id, type='checkbox').mdl-switch__input
                        span(id=sw_id + '_label').mdl-switch__label=sw_text

mixin label(name, id, val, metric)
    div.section__text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        h5=name
        p
            span(id=id)=val+ ' ' +metric

mixin canvas(id)
    div.section__text.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
        canvas(id=id)

//Рабочая установка
+ust('Дифракция Френеля', 'exp2', './images/schem4.png', 'ustn_1', 'Включить установку')
//Управление установкой и снятие показаний
div.mdl-cell.mdl-cell--6-col
    h5 Управление установкой и показания приборов
    +range('Ширина щели \\(S_2\\)', 'odn_s2', '0', '10', '0', '0.01', 'мм')
    +range('Расстояние между линзой \\(O_3\\) и микроскопом M', 'odn_03_m', '5', '100', '0', '1', 'мм')
    +canvas('odn_inten_cvs')
//Задания для выполнения
div.mdl-cell.mdl-cell--6-col
    h5 Рекомендации по выполнению работы
    p.
        Оптическая схема собрана на оптической скамье , поэтому следует провести юстировку всех элементов в вертикальной и
        горизонтальной плоскостях таким образом, чтобы оптическая ось проходила через геометрические центры каждого
        элемента установки. Необходимо иметь в виду, что от качества юстировки в сильной степени зависит качество наблюдаемой дифракционной картины.
    ol
        li Выберите для начала ширину щели \({S}_{2}\), достаточно большую, например \(1 \div 2\) мм.
        li Поместите микроскоп М в такое положение, которое позволяет наблюдать резкое изображение щели \({S}_{2}\), находящееся в центре шкалы.
        li.
            Медленно удаляйте микроскоп М от щели \({S}_{2}\). Сначала возникают дифракционные явления на краях щели.
            Причем дифракционная картина на каждом краю щели существует раздельно и сосредоточена в очень малой области пространства, а
            переходная область между светом и тенью слишком узка. Очевидно, что в этом случае наблюдается дифракция Френеля
            (условие 1).
            Изображение щели \({S}_{2}\) описывается законами геометрической оптики.
        li Зарисуйте наблюдаемую при этом картину.
        li.
            Попытайтесь изобразить графически распределение интенсивности света при дифракции на «широкой» щели
            \({S}_{2}\), откладывая по оси ординат интенсивность,
            оцененную визуально, а по оси абсцисс – расстояние в миллиметрах от щели до объектива микроскопа М.
        li.
            Изобразите на этом же графике распределение интенсивности света, прошедшего через щель \({S}_{2}\), согласно
            законам геометрической оптики.
        li.
            Продолжайте медленно удалять микроскоп М от щели \({S}_{2}\). При этом дифракционные картины от каждого края
            щели \({S}_{2}\) будут накладываться друг на друга,
            изображение щели расплывается и становится все шире. В этом случае наблюдается дифракция Фраунгофера (условие 2).
            Интенсивность прошедшего через щель \({S}_{2}\) света уже нельзя описывать с помощью законов геометрической
            оптики.
        li Зарисуйте дифракционную картину, наблюдаемую в этом случае.
        li Попытайтесь изобразить графически распределение интенсивности света при дифракции на «узкой» щели.
        li Объясните наблюдаемые явления на «широкой» и «узкой» щелях при помощи спирали Корню.
        li.
            Проверьте, действительно ли выполняется условие (2) при наложении дифракционных картин от каждого края щели и
            расширении изображения щели. Учтите, что \({a}_{1}=\infty\) .
            Длина волны монохроматического света приведена на рабочем месте.

        li Продолжайте медленно удалять микроскоп М, наблюдая, как меняется дифракционная картина. Зарисуйте несколько изображений.
        li Вычислите число зон Френеля, укладывающихся на ширине щели \({S}_{2}\) в одном из предыдущих положений.

    p.
        Условия (1) и (2) реализуются при непосредственном изменении ширины щели \({S}_{2}\). При этом расстояние
        \({a}_{2}\) может оставаться фиксированным. Для проверки этого:
    ol
        li.
            Установите микроскоп М на таком расстоянии от щели \({S}_{2}\), чтобы наблюдать ее резкое изображение.
            Начальную ширину щели нужно выбрать достаточно большую, например 1 мм.
        li.
            Уменьшайте медленно ширину щели \({S}_{2}\) и наблюдайте изменение видимой в микроскоп картины. Изменения,
            происходящие с изображением щели \({S}_{2}\), аналогичны тем, что
            Вы наблюдали при увеличении расстояния \({a}_{2}\) при фиксированной ширине щели.
        li.
            Раскройте щель \({S}_{2}\) до ширины 4 мм. Поместите в световой пучок тонкую нить, выдвигая рамку в прорезь
            держателя щели.
        li Установите микроскоп M на таком расстоянии от нити, чтобы наблюдать ее резкое изображение.
        li.
            Медленно удаляйте микроскоп от нити с помощью микрометрического винта. Обратите внимание, что пока нить
            перекрывает большое число зон Френеля,
            дифракционное изображение нити похоже на оригинал.
            При удалении нити от микроскопа постепенно сходство полностью исчезает.
        li.
            Рассчитайте число зон Френеля, перекрываемых нитью, в первом и в любом другом случаях, чтобы убедиться в
            вышесказанном.
        li Объясните наблюдаемое явление с помощью спирали Корню (см. стр.3).


